Credit goes to - https://www.npmjs.com/package/ng-lazyload-image

<picture>
  <div class="img-box">
    <img [defaultImage]="defaultImage" [lazyLoad]="image1">
  </div>
  <div class="img-box">
    <img [defaultImage]="defaultImage" [lazyLoad]="image2">
  </div>
  <div class="img-box">
    <img [defaultImage]="defaultImage" [lazyLoad]="image3">
  </div>
</picture>


<style>
  .img-box {
    width: 300px;
    height: 300px;
    float: left;
  }

  .img-box img {
    width: 300px;
    height: 300px;
  }

</style>
